[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.suo
*.tmp
*.userprefs
*.swp
.DS_Store
.idea/
*.apk
*.aab
